.single-entity-container {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    height: 400px;
    overflow-x: auto;
    color: #333;
    z-index: 2;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

h2 {
    text-align: center;
    color: #ffc107; /* Color amarillo */
    font-family: 'Montserrat', sans-serif;
}

button {
    margin: 5px;
}