.single-entity-container {
    display: block;
    position: fixed;
    margin-top: 5%;
    margin-left: 30%;
    overflow-y: auto;
    height: 400px;
    overflow-x: auto;
    color: #333;
    z-index: 3;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0);
}

.single-entity-container::-webkit-scrollbar  {
    display: none;
}

h2 {
    text-align: center;
    color: #ffc107; /* Color amarillo */
    font-family: 'Montserrat', sans-serif;
}

button {
    margin: 5px;
}